
@import 'bourbon/bourbon';

$beige: #F7F4ED;
$dark: #444;
$green: #D2E6D2;
$blue: #539BD1;
$orange:#FD976B;

html, body {
   height: 100%;
   padding:0;
   margin:0;
}

body {
    font-size:1em;
	font-family: $helvetica;
	color:#444;
}

aside {
	float:left;
	width:300px;
	height:100%;
	background:$beige;
	border-right:3px solid $green;
	overflow:auto;
}

#autocomplete {
	width:85%;
	
	margin:0 10px;
	display:block;
	padding:5px;
}

#loading {
	position:fixed;
	top:15px;
	left:245px;
	display:none;
}

h1 {
	font-weight: normal;
	@include linear-gradient(darken($beige, 8%), $beige);
	margin:0;
	padding:20px 10px;
	color:$orange;
}

h2 {
	font-weight: normal;
	color:$dark;
	margin:0;
	padding:10px;
	
	a {
		float:right;
		margin-right:10px;
	}
}

main {
    position: relative;
    height: 100% !important;
    z-index: 1 !important;
    overflow: hidden !important;
}

#map {
position: relative;
height: 100%;
min-height: 425px !important;
z-index: 1 !important;
overflow: hidden !important;
cursor:pointer;

img[src="img/marker-icon-2x.png"] {
	cursor:help;
}
}

.draggable {
	cursor:move;
}

ul {
	
	list-style-type: none;
	padding:0;
	margin:0;
	
	li {
		padding:5px;
		margin:5px 10px;
		
//		border-left:5px solid $green;
		
		#poi_list & {
			border-left:5px solid $blue;
		}
		#home_list & {
			border-left:5px solid #44CE55;
			cursor: pointer;
			span {
					font-size: 0.7rem;
					color:#BBB;
					display:inline-block;
					width:12px;
					text-align: right;
			}
		}
		
		&:hover {
			background:darken($beige, 5%);
		}
		
		span {
			&.latlng {
				font-size: 0.7rem;
				color:#BBB;
			}
		}
		
		a {
			color:#444;
			text-decoration: none;
			margin-right:10px;
			float:right;
			&:hover {
				color: $orange;
			}
		}
		
	}
	
}


.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: $orange; }