html, body {
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444; }

aside {
  float: left;
  width: 300px;
  height: 100%;
  background: #f7f4ed;
  border-right: 3px solid #d2e6d2;
  overflow: auto; }

#autocomplete {
  width: 85%;
  margin: 0 10px;
  display: block;
  padding: 5px; }

#loading {
  position: fixed;
  top: 15px;
  left: 245px;
  display: none; }

h1 {
  font-weight: normal;
  background-color: #eae3d1;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eae3d1), color-stop(100%, #f7f4ed));
  background-image: -webkit-linear-gradient(#eae3d1, #f7f4ed);
  background-image: linear-gradient(#eae3d1, #f7f4ed);
  margin: 0;
  padding: 20px 10px;
  color: #fd976b; }

h2 {
  font-weight: normal;
  color: #444444;
  margin: 0;
  padding: 10px; }
  h2 a {
    float: right;
    margin-right: 10px; }

main {
  position: relative;
  height: 100% !important;
  z-index: 1 !important;
  overflow: hidden !important; }

#map {
  position: relative;
  height: 100%;
  min-height: 425px !important;
  z-index: 1 !important;
  overflow: hidden !important;
  cursor: pointer; }
  #map img[src="img/marker-icon-2x.png"] {
    cursor: help; }

.draggable {
  cursor: move; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  ul li {
    padding: 5px;
    margin: 5px 10px; }
    #poi_list ul li {
      border-left: 5px solid #539bd1; }
    #home_list ul li {
      border-left: 5px solid #44CE55;
      cursor: pointer; }
      #home_list ul li span {
        font-size: 0.7rem;
        color: #BBB;
        display: inline-block;
        width: 12px;
        text-align: right; }
    ul li:hover {
      background: #efe9db; }
    ul li span.latlng {
      font-size: 0.7rem;
      color: #BBB; }
    ul li a {
      color: #444;
      text-decoration: none;
      margin-right: 10px;
      float: right; }
      ul li a:hover {
        color: #fd976b; }

.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF;
  overflow: auto; }

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden; }

.autocomplete-selected {
  background: #F0F0F0; }

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #fd976b; }
